<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>visits</title>
</head>
<body>
<span id="time"></span>
</body>

<script>
    function readTextFile(file)
{
    var rawFile = new XMLHttpRequest();
    rawFile.open("GET", file, false);
    rawFile.onreadystatechange = function ()
    {
        if(rawFile.readyState === 4)
        {
            if(rawFile.status === 200 || rawFile.status == 0)
            {
                var allText = rawFile.responseText;
                alert(allText);
            }
        }
    }
    rawFile.send(null);
}

readTextFile("file:/Users/mihailgudkov/PycharmProjects/DevOps/app_python/src/time.csv");

</script>
</html>